{% extends "../../../templates/main_template.html" %}
{% block css_requires %}

<link rel="stylesheet" type="text/css" href="/js/markitup/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/js/markitup/markitup/sets/markdown/style.css" />
{% endblock css_requires %}
{% block js_requires%}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/markitup/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/js/markitup/markitup/sets/markdown/set.js"></script>
{%endblock js_requires%}
{% block js_activities %}
<script type="text/javascript"> 
	$(document).ready(function() {
      $("#content").markItUp(mySettings);
   	});
	
</script> 
{% endblock js_activities %}
{% block content %}
<div class="row" id="PostsRow" style="margin-top:20px">
	<div class="span16">
		<div class="row">
			<div class="page-header">
				<h1>Editando {{post.title}}</h1>
			</div>
	
		</div>
		<form action="" method="post" id="newMessageForm">
			<div class="row">
				<div class="input span6">
					<label for="content">Cuerpo del mensaje <a href="http://daringfireball.net/projects/markdown/">(Markdown)</a></label>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<textarea id="content" name="content">{{post.text}}</textarea>
				</div>
			</div>
			<div clas="row">
				<div class="span12">
					<div class="input">
						<ul class="inputs-list">
							<label>
								<input type="checkbox" name="publish" value="true" />
								<span>Este artículo está lo suficientemente bueno para ser publicado.</span>
							</label>
						</ul>
					</div>
					<div class="actions">					
						<input type="submit" value="Editar Artículo" class="btn primary" />
					</div>
				</div>						
			</div>
		</form>
	</div>
</div>
<div class="row" id="articlePreview">
	<div class="page-header">
		<h1>Vista preliminar artículo</h1>
	</div>
	<div class="span16">
		<article>
			{{markdown_html}}
		</article>
	</div>
</div>

<div class="row">
	<div class="span16 bottomSeparator">
		<a href="/posts/">Volver a los artículos</a>
	</div>
</div>
{% endblock content %}