{% extends "../../../templates/main_template.html" %}
{% block content %}
<div class="row">
  <div class="span10">
    <div class="page-header">
      <h1>{{post.title}}</h1>
    </div>
  </div>
  {% if logged_user.is_administrator %}
  <div class="span2 last"><a href="/posts/{{post.slug}}/edit" class="btn large primary">Editar</a></div>
  {% endif %}
</div>
<div class="row">
  <div class="span5 last">
    <small>Publicado el {{post.date_created|date:"d/m/Y"}} por {{post.creator.name}}</small>
  </div>
</div>
<div class="row">
  
  <div class="textContent span12">
    <article>
      {{markdown_html}}
    </article>
  </div>
  
</div>
<div class="row">
  <div class="span8">
    <h2>Comentarios</h2>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="fb-comments" data-href="http://www.ataxic.org/posts/{{post.slug}}" data-num-posts="2" data-width="940"></div>
  </div>
</div>
<div class="row">
  <div class="span8">
    <a href="/posts/">Volver a los artículos</a>
  </div>
</div>

{% endblock content %}