{% extends "../../../templates/main_template.html" %}
{% block content %}
<div class="row">
<p>Ataxic es un grupo de trabajo entre 4 compañeros de Ingeniería Civil en Computación e Informática que ha decidido 
devolver la mano a la comunidad que le ha permitido avanzar durante el desarrollo de sus carreras y profesiones.</p>
</div>
<div class="row">
  <div class="tencol">
    <h1>Recientes</h1>
  </div>
</div>
<div class="row">
	
  <div class="eightcol">
  <h2>Artículos</h2>
  {% for element in posts %}
	  <h3><a href="/posts/{{element.key.id}}">{{element.title}}</a></h3>
	  <p>{{element.text|truncatewords_html:20|removetags:"img"}}</p>
	  <p><a href="/posts/{{element.key.id}}">Leer más de {{element.title}}</a></p>
  {% endfor %}
  </div>
  <div class="fourcol last">
	<h2>Links</h2>
	{%for element in links%}
		<p><a href="{{element.url}}" target="leoluartenet_linkview">{{element.title}} <img src="/img/ExternalLinkIcon.gif"/></a></p>
	{%endfor%}		
	</div>
  </div>
</div>
<div class="row">
<div class="eightcol last">
  <h2>Noticias</h2>
  {% for element in news %}
	  <h3><a href="/news/">{{element.title}}</a></h3>
	  <p>{{element.text|truncatewords_html:20}}</p>
  {% endfor %}
  </div>
</div>
{% endblock content %}