{% extends "../../../templates/main_template.html" %}
{% block header %}
<header class="jumbotron masthead" id="overview"> 
  <div class="inner"> 
    <div class="container"> 
      <h1>Ataxic</h1> 
      <p class="lead"> 
        Ataxic es un grupo de trabajo entre 4 compañeros de Ingeniería Civil en Computación e Informática <br />que ha decidido devolver la mano a la comunidad que le ha permitido avanzar durante el desarrollo de sus carreras y profesiones.
      </p> 
    </div><!-- /container --> 
  </div> 
</header> 
{%endblock header%}
{% block content %}


<div class="row">
  {% if news %}
  <div class="span5" >
    <h1>Noticias</h1>
    {% for element in news %}
      <h4><a href="/news/{{element.slug}}">{{element.title}}</a></h4>
    {% endfor %}
    <a href="/news/" class="btn primary">Ver todas las noticias</a>
    {% if links %}
      <div style="margin-top: 1em"></div>
      <h1>Links</h1>
      <ul>
      {%for element in links%}
        <li><a href="{{element.url}}" target="ataxic_linkview">{{element.title}} <img src="/img/ExternalLinkIcon.gif"/></a></li>
      {%endfor%}  
      </ul>
      <a href="/links/" class="btn primary">Ver todos los links</a> 
    {%endif%} 
  </div>
  {%endif%}
  <div class="{%if news %}span10{%else%}span16{%endif%}" {%if news%} style="border-left: 1px solid #EEE"{%endif%}>
    <h1>Artículos</h1>
    {% for element in posts %}
  	  {% if element.is_active or logged_user.is_administrator%}
  	  <h2><a href="/posts/{{element.slug}}">{{element.title}}</a></h2>
  	  <p>{{element.text|truncatewords_html:20|removetags:"img"}}</p>
  	  <p><a href="/posts/{{element.slug}}">Leer más de {{element.title}}</a></p>
  	  {%endif%}
    {% endfor %}
    <a href="/articles/" class="btn large primary">Ver todos los artículos</a>
  </div>
  
</div>

{% endblock content %}