{% extends "../../../templates/admin_template.html" %}

{% block content %}
<div class="row">
	<div class="page-header">
		<h1>Noticias</h1>
	</div>
</div>
<table class="bordered-table zebra-striped">
	<thead>
		<tr>
			<th>Título</th>
			<th>Autor</th>
			<th>Creado el</th>
			<th>Disponible</th>
			<th colspan="3">Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for news in news_list %}
		<tr>
			<td><a href="/news/{{news.slug}}" target="ataxic">{{news.title}}</a></td>
			<td>{{news.creator.name}}</td>
			<td>{{news.date_created|date:"d/m/Y"}}</td>
			<td>
				{%if news.is_active%}
				<span class="label success">Disponible</span>
				{%else%}
				<span class="label important">Inactiva</span>
				{%endif%}
			</td>
			<td>
				<a href="/news/{{news.slug}}/edit" target="ataxic" class="btn small ">Editar</a>
				<a href="/admin/news/{{news.key}}/remove" target="ataxic" class="btn danger small ">Eliminar</a>
				{%if article.is_active%}
				<a href="/admin/news/{{news.key}}/deactivate" target="ataxic" class="btn small info">Desactivar</a>
				{%else%}
				<a href="/admin/news/{{news.key}}/activate" target="ataxic" class="btn info small "> &nbsp;Activar </a>
				{%endif%}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}
