body
{
	color: black;
	background:  white;
	
}
a
{
	text-decoration: none;
	font-weight: bold;
}
	a:visited{color: #5555aa;}
	a:link{color:#5555aa;}
#mainContainer
{
	background-color: white;
	opacity: 0.9;
	min-height:500px;
}
	#mainContainer h1,h2,h3
	{
		text-shadow: 2px 2px 3px #ccc;
		font-family: "myriad-pro-1","myriad-pro-2";
		line-height:1.5em;
	}
	#mainContainer p
	{
		margin-top: 0px;
		letter-spacing: 0px;
	}
#menuContainer
{
	/*background-color: #262626;*/
	background-color: black;
	color: white;
	text-align: left;
	text-transform:uppercase;
	font-family: "myriad-pro-1","myriad-pro-2";
	display: block;
}	
	#menuContainer div {display: inline;}
	#menuContainer span
	{
	}
	#menuContainer span:hover
	{
		color: white;
	}
	#menuContainer a
	{
		font-size: 14pt;
		font-weight: normal;
		color: #ccc;
	}
	#menuContainer a:hover { color: white; }
#flashContainer
{
	text-align:center;
	border-radius: 3px;
}
	.normalFlash{	background-color: #5555aa;}
	.successFlash {	background-color: #55aa55;}
	.errorFlash{	background-color: #aa5555;}
#headerContainer
{
	
	display: block;
	font-size: 22pt;
	
	text-shadow: #ccf 0px;
	
	font-style: italic;
	font-weight: medium;
}
  #headerLeonardo { color:#cccccc; }
  #headerLuarteNet {color:#5555aa;}
  #headerContainer span
  {
    line-height:20px;
  }
  #headerContainer span:hover
  {
      background-color: transparent;
  }
.textContent
{
	
}
#bodyContainer
{
	opacity: 1 !important;
}
.memberBio
{
 
}
#footerContainer
{
	text-align:center;
}
pre
{
	padding: 1em;
	background-color: black;
	color: white;
}
.bottomSeparator
{
	border-top: 1px solid #5555aa;
}