<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">

<head>
	<script type="text/javascript" src="http://use.typekit.com/lux4wft.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link type="text/css" href="/css/main_template.css" rel="stylesheet" />
	{% block css_requires %}{% endblock css_requires %}
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8" />
	<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-22548699-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

	</script>
	<!-- Include required JS files -->
	<script type="text/javascript" src="/js/sh/shCore.js"></script>
	
	<!--
	    At least one brush, here we choose JS. You need to include a brush for every 
	    language you want to highlight
	-->
	<script type="text/javascript" src="/js/sh/shBrushRuby.js"></script>
	<script type="text/javascript" src="/js/sh/shBrushPython.js"></script>
	<script type="text/javascript" src="/js/sh/shBrushXML.js"></script>
	
	<!-- Include *at least* the core style and default theme -->
	<link href="/css/sh/shCore.css" rel="stylesheet" type="text/css" />
	<link href="/css/sh/shThemeDefault.css" rel="stylesheet" type="text/css" />
	<link href="/css/sh/shCoreRDark.css" rel="stylesheet" type="text/css" />
	
</head>
<body style="" >
	<div id="menuContainer">
		<div id="headerContainer" style=" ">
		  <span style="" id="headerLeonardo" >Leonardo</span><span id="headerLuarteNet" style="">Luarte.net</span>
		</div>
		<div>
		  <span ><a href="/">Inicio</a></span>
		  <span style=""><a href="/news/">Noticias</a></span>
		  <span style=""><a href="/links/">Links</a></span>
		  <span style=""><a href="/posts/">Artículos</a></span>
		  <span style="display:none;">Fotografía</span>
		  <span ><a href="/about/">Acerca De Mi</a></span>
		  <span style="display:none;">Contacto</span>
		  {%if login_url %}<span><a href="{{login_url}}">Entrar</a></span>{% endif %}
		  {%if logged_user %}	<span><a href="/logout/">{{logged_user.email}} (Salir)</a></span>{% endif %}
		</div>
	</div>
	<div id="mainContainer">
		
		
		{% if flash %}<div id="flashContainer" class="{{flash_type}}">{{flash}}</div>{%endif%}
		<div id="bodyContainer" >
				{% block content %}
				{% endblock content %}
		</div>
		<div id="footerContainer">
			&copy; Leonardo Luarte 2011
		</div>
	</div>
	
</body>
<script type="text/javascript" src="/js/mootools-core-1.3.1-full-compat.js"></script>
<script type="text/javascript" src="/js/mootools-more-1.3.1.1.js"></script>
{% block js_requires%}{%endblock js_requires%}
{% block js_activities%}{%endblock js_activities%}
<script type="text/javascript">
     SyntaxHighlighter.all()
</script>
</html>	
	