{% extends "../../../templates/main_template.html" %}
{% block content %}
<div class="row">
<div class="span2"><h1>Acerca</h1></div>
</div>
<div class="row">
<div class="memberBio span4">
  <h2>Carlos Andrade</h2>
  <article>
    <p>Carlos es Magíster en Ciencia de la Computación de la Pontificia Universidad Católica de Chile.</p>
    <p>Le fascinan los animales poco fascinantes como las tortugas y los manatíes.</p>
    <p>Actualmente vive en San Francisco, California, trabajando para Groupon. Todo el resto de su vida es confidencial.</p>
  </article>
</div>
<div class="memberBio span4">
  <h2>Matías Barahona</h2>
  <article>
    <p>Egresado de Ingeniería Civil Industrial con mención en Tecnologías de la Información en la Pontificia Universidad Católica de Chile. Actualmente memorista bajo la supervisión del profesor Andrés Neyem en desarrollo de aplicaciones Web y Móviles y asistente de investigación del profesor Cristóbal García.</p>
    <p>Desde su tercer año de Universidad se integró al equipo de investigación de Análisis de Redes liderado por el profesor Cristóbal García.  Su trabajo inicial consistió en desarrollo de algoritmos para análisis de datos de redes de intercambio electrónico (emails) dentro de la Universidad. Además participó activamente en el levantamiento de fondos de investigación y marco metodológico para la investigación.</p>
    <p>Actualmente participa como tutor del curso Proyecto de Especialidad por segundo semestre consecutivo, luego de haber sido Administrador de un grupo de 7 alumnos durante la segunda mitad del 2010.</p>
    <p>En desarrollo móvil, participó directamente en el diseño y desarrollo de las aplicaciones <a href=”http://bit.ly/p1WGHP”>UBIMOVIL</a> para Chile, mientras que en desarrollo web, ha utilizado principalmente herramientas basadas en PHP y ASP.Net.</p>
    <p>Sus principales áreas de interés en el mundo del desarrollo/análisis: Aplicaciones Móviles/Web y Redes Sociales.</p>
    <p>Matías se alejó de las canchas futbolísticas hace unos años, pero disfruta de otros deportes, como Kickboxing y Jogging. Además va a ver el box de vez en cuando, pero no lo practica. Mantiene una excelente relación con sus 4 hermanos y sus dos padres, quienes viven en Rancagua.</p>
  </article>
</div>
<div class="memberBio span4">
  <h2>Leonardo Luarte</h2>
  <article>
    <p>Ingeniero en Tecnologías de la Información de la Pontificia Universidad Católica de Chile, actualmente jefe de desarrollo móvil en <a href="http://www.neonline.cl">Negocios Online</a>, en donde desarrolla aplicaciones al público del grupo El Mercurio.</p>
    <p>Ha trabajado en numerosos proyectos desde tiempos de la universidad, desarrollando aplicaciones móviles, web y de escritorio para diversas industrias, desde fundaciones sin fines de lucro hasta empresas inmobiliarias.</p>
    <p>Entusiasta pero no experto en testing y convencido de la necesidad de mejorar los procesos de negocios de una organización antes de embarcarse en un desarrollo de software.</p>
    <p>Fanático de Python y C#, pero ha desarrollado también en Ruby, Java, Javascript y los lenguajes de la vieja escuela.</p>
    <p>En el tiempo libre desarrolla aplicaciones simples y pequeñas que con un poco de suerte puedan ayudar a la gente normal o pequeñas instituciones a mejorar sus actividades del día a día. Convencido que el software libre se debe hacer por el gusto de ayudar y que la comunidad misma es quien retribuirá correctamente el esfuerzo.</p>
    <p>Fuera de la computación, Leonardo se entretiene sacando <a href="http://www.flickr.com/photos/18376925@N04/">fotografías</a>, leyendo novelas o construyendo cosas. Le gusta skiar, trotar y hacer trekking, aunque no se considera un experto sino más bien un asiduo (o ex-asiduo en algunos lamentables casos).</p>
  </article>
</div>
<div class="memberBio span4 last">
  <h2>Hernán Schmidt</h2>
  <article>
    <p>Hernán empezó a los 16 años a crear sus propias páginas web para entretenerse y por trabajo. En ese entonces, Geocities y Tripod la llevaban, toda página debía tener una intro en Flash (si tenía sonido, mejor aún), y todo webmaster que se respetara diseñaba para Internet Explorer 4.0.</p>

    <p>Una vez en la universidad, Hernán descubrió, en su temprana versión 1.2, la plataforma Ruby on Rails para la rápida creación de aplicaciones web, y ha dedicado una gran parte de su tiempo libre en perfeccionarse en su uso. Desde entonces, ha desarrollado sitios para tiendas de música (<a href="http://www.billboard.cl">Billboard.cl</a> y <a href="http://www.musicland.cl">Musicland.cl</a>), para una empresa de telecomunicaciones (GTD Manquehue), para una startup (<a href="http://www.agendy.com">Agendy.com</a>), y para una empresa de asesoría en innovación e incubadora (DictUC).</p>

    <p>Actualmente, Hernán está elaborando su memoria, en la cual aplica las últimas tecnologías web en crear una aplicación para el ámbito de la educación y diseñada para dispositivos móviles.</p>
  </article>
</div>
</div>
{% endblock content %}